@import 'vars';
@import 'libs';
@import '_mixins/breakpoints';
@import '_mixins/font-face';
@import '_fonts';

@include font-face('Aller', '../fonts/aller/Aller_Std_Rg');
@include font-face('Aller', '../fonts/aller/Aller_Std_Bd', 500);
@include font-face('Aller', '../fonts/aller/Aller_Std_Lt', 300);

html {
  font-size: 62.5%; // now 1rem = 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Aller', sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; // overflow-y: hidden;
  &--narrow {
    padding: 0 25px;
    max-width: 880px;
    box-sizing: border-box;
  }
}

.black-header {
  background-color: rgb(36, 36, 36);
}

.b-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
}

.logo {
  color: $green;
  text-transform: uppercase;
  font-size: 26px;
}

.h-links {
  display: flex;
}

.search-icon {
  margin-right: 25px;
  color: rgb(126, 126, 126);
  @include media-breakpoint-down($sm) {
    margin-right: 10px;
  }
}

.auth-links {
  border-right: 1px solid rgb(56, 56, 56);
  border-left: 1px solid rgb(56, 56, 56);
  padding: 0 25px;
  font-size: 11px;
  color: rgb(126, 126, 126);
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(126, 126, 126);
    transition: color .2s linear;
    &:hover {
      color: $green;
    }
  }
}

// White header 
.w-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 60px;
  line-height: 60px;
  @include media-breakpoint-down($md) {
    height: auto;
    max-height: 1000px;
    align-items: flex-start;
  }
}

.menu-controller {
  height: 29px;
  width: 29px;
  display: none;
  cursor: pointer;
  @include media-breakpoint-down($md) {
    display: block;
    align-self: center;
  }
  span {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 8px;
    background: #000;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  @include media-breakpoint-down($md) {
    flex-direction: column;
    width: 100%;
    order: 3;
    visibility: hidden;
    max-height: 0;
    transition: .5s all linear;
  }
  li {
    display: inline-block;
    &:last-child a {
      border-right: 1px solid rgb(204, 204, 204);
      @include media-breakpoint-down($md) {
        border-right: 0;
      }
    }
  }
  a {
    display: block;
    padding: 0 22px;
    border-left: 1px solid rgb(204, 204, 204);
    color: rgb(36, 36, 36);
    text-decoration: none;
    transition: background-color .2s linear;
    @include media-breakpoint-down($md) {
      border-left: 0;
    }
    &:hover {
      background: rgb(211, 211, 211);
    }
  }
}

.is-open {
  visibility: visible;
  height: auto;
  max-height: 1000px;
}

.slider-wrapper {
  width: 100%;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;
}

.slide {
  width: 100%;
  max-width: 1400px;
  height: 460px;
  position: relative;
  &__img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  &__content {
    position: absolute;
    left: 50%;
    max-width: 400px;
    margin-top: 70px;
    @include media-breakpoint-down($md) {
      left: 10%;
    }
  }
  &__badge {
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    background: #57c5a0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__title {
    font-family: 'Aller';
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgb(36, 36, 36);
    margin-bottom: 12px;
  }
  &__desc {
    font-family: 'Aller';
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgb(36, 36, 36);
    margin-bottom: 15px;
  }
}

.share-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: rgb(110, 110, 110);
  background: #fff;
  text-align: center;
  text-decoration: none;
  transition: color .2s linear;
  &:hover {
    color: #57c5a0;
  }
}

.slick-dots {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: -25px;
  height: 14px;
  background: #000;
  li {
    flex-grow: 1;
    height: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 2px 4px 2px 4px;
    width: 23.333333%;
    text-align: left;
    cursor: pointer;
    background-size: 100% 100%;
    background: transparent;
    background-repeat: no-repeat;
    transition: all .2s linear;
    &.slick-active {
      background: $green;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.dot__text {
  text-align: center;
  margin-top: 20px;
}

.dot__name {
  display: block;
  font-family: 'Aller';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.dot__desc {
  display: block;
  font-family: 'Aller';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgb(173, 173, 173);
}

.slider-bottom {
  min-height: 90px;
  width: 100%;
  background-color: rgb(46, 46, 46);
  @include media-breakpoint-down($sm) {
    min-height: 140px;
  } 
}

.collections-wrapper {
  display: flex;
  align-self: center;
  height: 60px;
  @include media-breakpoint-down($md) {
    align-self: flex-start;
  }
}

.f-collection {
  padding: 0 22px;
  border-left: 1px solid rgb(211, 211, 211);
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 18px;
  transition: background-color .2s linear;
  &:hover {
    background: rgb(211, 211, 211);
  }
}

.sl-collection {
  padding: 0 22px;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  text-decoration: none;
  color: rgb(110, 110, 110);
  transition: background-color .2s linear;
  &:hover {
    background: rgb(211, 211, 211);
  }
}

.badge {
  display: inline;
  position: relative;
  padding: 4px;
  background: #eee;
  font-size: 13px;
  border-radius: 4px;
  &--shopcart {
    background-color: $green;
    color: #fff;
  }
}

// Dark section 
#offer-tiles {
  background-color: rgb(36, 36, 36);
  padding: 25px 0;
}

.row {
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  @include media-breakpoint-down($md) {
    flex-direction: column;
    align-items: center;
  }
  @include media-breakpoint-down($sm) {
    margin: 0;
  }
  &--info {
    @include media-breakpoint-down($md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.o-tile {
  width: 33.333333%;
  padding: 0 10px;
  position: relative;
  @include media-breakpoint-down($md) {
    width: 100%;
    max-width: 360px;
    margin-bottom: 1rem;
  }
  &__img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 25px;
    text-transform: uppercase;
  }
}

// Arrivals section 
#new-arrival {
  padding: 35px 0;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section-title {
  font-size: 25px;
  font-weight: 300;
  color: rgb(36, 36, 36);
}

.section-link {
  padding: 10px 20px;
  background-color: rgb(235, 231, 223);
  border: solid 1px rgb(188, 181, 167);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  text-decoration: none;
  color: rgb(188, 181, 167);
  transition: background-color .2s linear;
  &:hover {
    background: rgb(188, 181, 167);
    color: #fff;
  }
}

.item-card {
  width: 33.333333%;
  padding: 0 10px;
  position: relative;
  @include media-breakpoint-down($md) {
    width: 100%;
    max-width: 360px;
    margin-bottom: 2rem;
  }
  &__img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  &__content {
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
  }
  &__price {
    position: relative;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    top: -20px;
    background: $green;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  }
  &__name {
    font-size: 20px;
    letter-spacing: 0.5px;
    color: rgb(36, 36, 36);
    margin-left: 20px;
    position: relative;
    flex-grow: 1;
    text-overflow: hidden;
  }
  &__badge {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 0;
    right: 15px;
    font-size: 13px;
    font-weight: 500;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    &--out {
      background-color: rgb(242, 126, 75);
    }
  }
  &__actions-overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; // max-width: 100%;
    width: 100%;
    display: flex;
    background: #fff;
    opacity: 0;
    transition: .2s all;
    justify-content: space-around;
    transition: all .2s;
    a {
      text-decoration: none;
      color: #ccc;
      transition: color .2s linear;
      &:hover {
        color: $green;
      }
    }
  }
}

.item-card__name:hover>.item-card__actions-overlay {
  opacity: 1;
  visibility: visible;
}

#best-sellers {
  padding-bottom: 45px;
}

#info-blocks {
  padding: 25px 0;
}

.quarter {
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  @include media-breakpoint-down($md) {
    width: 50%;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down($sm) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.half {
  width: 50%;
  padding: 0 10px;
  @include media-breakpoint-down($md) {
    width: 100%;
  }
  @include media-breakpoint-down($sm) {
    width: 100%;
  }
}

.info {
  padding: 30px 15px;
  background: #eee;
  height: 125px;
  max-height: 125px;
  &__title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
    margin-bottom: 15px;
  }
  &__text {
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
    color: rgb(36, 36, 36);
  }
  @include media-breakpoint-down($sm) {
    height: auto;
    max-height: none;
  }
}

.blog-post {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
  &__date {
    width: 26px;
    height: 26px;
    background-color: $green;
    text-align: center;
    padding: 5px;
    color: #fff;
  }
  &__month {
    display: block;
    font-size: 10px;
    line-height: 1;
  }
  &__num {
    display: block;
    font-size: 12px;
    line-height: 1;
  }
  &__content {
    margin-left: 10px;
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  &__text {
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: rgb(36, 36, 36);
  }
}

// Footer 

.dark-footer {
  background-color: rgb(36, 36, 36);
  padding: 50px 0 45px 0;
}

.widget-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -25px;
  @include media-breakpoint-down($md) {
    flex-wrap: wrap;
  }
}

.widget {
  width: 33.3333333%;
  padding: 0 25px;
  box-sizing: border-box;
  @include media-breakpoint-down($md) {
    width: 50%;
    margin-bottom: 2rem;
    flex-grow: 1;
  }
  @include media-breakpoint-down($sm) {
    width: 100%;
  }
  &__title {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: rgb(125, 125, 125);
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 12px;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
    color: rgb(164, 164, 164);
  }
}

.tweet-post {
  color: rgb(164, 164, 164);
  font-size: 12px;
  margin-bottom: 15px;
  a {
    color: $green;
    text-decoration: none;
  }
}

.t-p__date {
  color: rgb(196, 197, 191);
  margin-top: 10px;
  font-style: italic;
}

.flickr-feed {
  margin: 0 -4px;
  display: flex;
  flex-wrap: wrap;
}

.f-img-wrap {
  padding: 0 4px;
  margin-bottom: 8px;
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.f-border {
  width: 100%;
  height: 1px;
  background-color: #1c1c1c;
}

.bf-wrap {
  padding: 0 0 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-subform {
  margin-top: 35px;
}

.f-email {
  background-color: rgb(46, 46, 46);
  border: 0;
  padding: 0px 15px;
  height: 38px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $green;
  }
}

.f-submit {
  width: 38px;
  height: 38px;
  line-height: 10px;
  position: relative;
  vertical-align: bottom;
  left: -5px;
  color: rgb(46, 46, 46);
  background-color: rgb(125, 125, 125);
  border: 0;
  cursor: pointer;
  transition: background-color .2s;
  &:hover {
    background-color: $green;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.soc-link {
  width: 35px;
  height: 35px;
  line-height: 38px;
  background-color: rgb(46, 46, 46);
  margin-right: 8px;
  text-decoration: none;
  color: rgb(125, 125, 125);
  text-align: center;
  font-size: 20px;
  transition: color .2s linear;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $green;
  }
}

.light-footer {
  background-color: rgb(46, 46, 46);
}

.l-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.f-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  li {
    display: inline-block;
    &:before {
      display: inline;
      content: '/ ';
      color: rgba(255, 255, 255, 0.5);
    }
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color .2s linear;
    &:hover {
      color: $green;
    }
  }
}

.copyright-text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}